@model IMS_System.Models.Entities.Milestone

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Milestone Details</h4>
<hr />
<div>
    <dl class="row">
        <dt class="col-sm-2">
            Milestone:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MilestoneDescription)
        </dd>
        <dt class = "col-sm-2">
            Date Time:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Milestone1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Class)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Class.ClassName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Subject)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Subject.SubjectName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Assignment)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Assignment.AssingmentName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Project)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Project.EnglishName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Issue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Issue.IssueName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" class="btn btn-primary" asp-route-id="@Model?.MilestoneId">Edit</a> |
    <a asp-controller="Classes" asp-action="Details" asp-route-id="@Model?.Class.ClassId" class="btn btn-secondary">Back to Class Details</a>
</div>
