@model IEnumerable<IMS_System.Models.Entities.Project>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/StudentLayout.cshtml";
    bool isUserLeader = ViewData["IsUserLeader"] as bool? ?? false;
}

<h2>Manage Projects</h2>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.EnglishName)</th>
            <th>@Html.DisplayNameFor(model => model.VietnameseName)</th>
            <th>@Html.DisplayNameFor(model => model.Description)</th>
            <th>@Html.DisplayNameFor(model => model.Status.StatusName)</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var project in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => project.EnglishName)</td>
                <td>@Html.DisplayFor(modelItem => project.VietnameseName)</td>
                <td>@Html.DisplayFor(modelItem => project.Description)</td>
                <td>@Html.DisplayFor(modelItem => project.Status.StatusName)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@project.ProjectId" class="btn btn-primary">Management</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="Create" class="btn btn-success">Create New Project</a>